body {
    font-family: "Work Sans";
    margin: 0px;
}
header {
    text-align: center;
    font-size: 120%;
    padding: 10px;
    background-color: #57606f;
    color: #ffffff;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

nav.a {
    display: block;
    text-align: center;
}

.hit-count {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

table {
    border-collapse: collapse;
    font-size: 80%;
    width: 100%;
}

table.histogram {
    margin-bottom: 50px;
}

.histogram tr {
    transition: 0.5s;
}

.histogram tr:nth-child(even) {
    background-color: #f9f9f9;
}
.histogram tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.histogram tr.param-row:hover {
    cursor: pointer;
    background-color: #10ac8455;
}

.histogram th {
    padding: 8px;
    font-size: 110%;
}

.histogram td {
    padding: 3px;
}

.histogram td:first-child {
    width: 80%;
}

#visits-chart {
    margin-top: 50px;
    margin-bottom: 10px;
}

#chartIntervalSelector, #clearSecondSeries {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.controls {
    margin-bottom: 50px;
}

button.invisible {
    display: none !important;
}

.all-hits {
    overflow-y: scroll;
    height: 200px;
    font-size: 70%;
}

.all-hits table {
    border: 1px solid #f0f0f0;
}
