{% load static %}
<!doctype html>

<html lang="en">
<head>
    <title>Analytics</title>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans'
      rel='stylesheet' type='text/css'>
    <link href="{% static 'track/track.css' %}" rel="stylesheet" type='text/css'>
</head>

<body>
    <header>{{ date }}</header>

    <main>
        <nav>
            <a href="?day={{ yesterday.year }}-{{ yesterday.month }}-{{ yesterday.day }}">Previous</a>
            <a href="?day={{ tomorrow.year }}-{{ tomorrow.month }}-{{ tomorrow.day }}">Next</a>
        </nav>
        <div class="hit-count"></div>

        <div class="histograms">
        </div>

        <div id="visits-chart"></div>
        <div class="controls">
            <select id="chartIntervalSelector">
                <option value="15">15 minutes</option>
                <option value="20">20 minutes</option>
                <option value="30" selected>30 minutes</option>
                <option value="60">1 hour</option>
            </select>
            <button id="clearSecondSeries" class="invisible">Clear</button>
        </div>

        <div class="all-hits">
            <table id="allHitsTable">
                <tr>
                    <th>Time</th>
                    <th>Path</th>
                    <th>City</th>
                    <th>Source</th>
                </tr>
            </table>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'track/track.js' %}"></script>
    <script>var visits = {{ data|safe }}; var today = "{{ date }}"</script>

</body>

</html>
